
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
	left: -30px;
	padding-left: 30px;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background:url(../img/fon_track.png) repeat-y center;
	
}
.jScrollPaneDrag {
	position: absolute;
	height: 19px;
	cursor: pointer;
	overflow: hidden;
	background:url(../img/drag.png) no-repeat left top;
	font-size: 0pt;
	z-index: 100;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 4px;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background:url(../img/ArrowUp.png) no-repeat center top;
	height:23px;
	z-index: 100;
}
a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 4px;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background:url(../img/ArrowDown.png) no-repeat center top;
	height:23px;
	z-index: 100;
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}